<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-search"></i> {{'Search' | translate}}
        </div>
        <div class="card-body">
            <div class="row apps">
                <div class="col-5">
                    <div class="row">
                        <div class="col-5">
                            <select class="form-control" name="type" [(ngModel)]="type"(change)="getStatisticPeriod()">
                                <option value="day">{{ 'Daily view' | translate }}</option>
                                <option value="month">{{ 'Monthly view' | translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-5" *ngIf="type === 'month'">
                    <div class="row">
                        <div class="col-5">
                            <select class="form-control" name="year" (change)="getStatisticPeriod()"
                                [(ngModel)]="year">
                                <option *ngFor="let item of years " value="{{item}}">{{ item }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6" *ngIf="type === 'day'">
                    <div class="row">
                        <div class="col-5">
                            <select class="form-control" name="year" (change)="getStatisticPeriod()"
                                [(ngModel)]="year">
                                <option *ngFor="let item of years " value="{{item}}">{{ item }}</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <select class="form-control" name="month" (change)="getStatisticPeriod()"
                                [(ngModel)]="month">
                                <option *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12] " value="{{item}}">{{ item }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <i class="fa fa-list"></i> {{'Period statistic' | translate}}
        </div>
        <div class="card-body" id="admin-list">
            <table ngClass="table">
                <thead>
                    <tr>
                        <th class="text-center">{{ 'Date' | translate }}</th>
                        <th class="text-center">{{ 'Page view' | translate }}</th>
                        <th class="text-center">{{ 'Visitor' | translate }}</th>
                        <th class="text-center">{{ 'New member' | translate }}</th>
                        <th class="text-center">{{ 'Partnership inquiry' | translate }}</th>
                        <th class="text-center">{{ 'New post' | translate }}</th>
                        <th class="text-center">{{ 'Reply' | translate }}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listStatisticPeriod ">
                        <th>{{item.time}}</th>
                        <th>{{item.page_view_count | number}}</th>
                        <th>{{item.visitor_count | number}}</th>
                        <th>{{item.new_member_count | number}}</th>
                        <th>{{item.partnership_inquiry_count | number}}</th>
                        <th>{{item.new_post_count | number}}</th>
                        <th>{{item.reply_count | number}}</th>

                    </tr>
                </tbody>
            </table>
            <!-- <div class="text-center pagination-footer">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div> -->
        </div>
    </div>
</div>