<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-search"></i> {{'Search' | translate}}
      <div class="btn-action float-right">
        <button class="btn btn-primary" [disabled]="!itemsTable.selectedRows.length"
          (click)="openModalApproveAll(templateApproveAll)">
          {{'Approve' | translate}}
        </button>
        <button class="btn btn-danger" [disabled]="!itemsTable.selectedRows.length" (click)="rejectAllItem()">
          {{'Reject' | translate}}
        </button>
        <!-- <button class="btn btn-primary" (click)="exportAsXLSX()">
          <i class="fa fa-cloud-download"></i> {{'Export excel' | translate}}
        </button> -->
        <!-- <button class="btn btn-info" (click)="addNew()">
          <i class="fa fa-plus"></i>{{'Add new' | translate}}
        </button> -->
      </div>
    </div>
    <div class="card-body">
      <div class="row apps">
        <div class="col-12 search form-group">
          <div class="row">
            <div class="col-2">
              <select class="form-control" name="option_search" [(ngModel)]="option_search">
                <option value="id">{{'ID' | translate}}</option>
                <option value="nickname">{{'Nickname' | translate}}</option>
                <option value="gmail">{{'Gmail' | translate}}</option>
                <option value="title">{{'Title' | translate}}</option>
                <option value="phone_number">{{'Phone number' | translate}}</option>
              </select>
            </div>
            <div class="col-2">
              <input type="text" class="form-control" [placeholder]="'Enter keyword' | translate" name="keyword"
                [(ngModel)]="keyword">
            </div>
            <div class="col-1">
              <button style="padding-left: 0px;width: 80px;padding-right: 0px;" class="btn btn-primary" (click)="search()" data-style="expand-left" [ladda]='submitting'><i
                  class="fa fa-search"></i> {{'Search' | translate}}</button>
            </div>
            <div class="col-3">
              <select (change)="filterThema()" name="thema_id" [(ngModel)]="thema_id" id="thema_id"
                class="form-control input-control">
                <option value="null">{{'Please choose thema.' | translate}}</option>
                <option *ngFor="let item of themas" value="{{ item.id }}">{{
                  item.name
                }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-list"></i> {{'shop list' | translate}}
    </div>
    <div class="card-body scroll-table" id="shop-pending-list">
      <data-table id="data-table-grid" #itemsTable [indexColumnHeader]="'no' | translate" [items]="items | async"
        [limit]="default_limit" [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true"
        [indexColumn]="true" [selectColumn]="true" [multiSelect]="true" [substituteRows]="false"
        [selectOnRowClick]="false" [showReloading]="false">
        <data-table-column [header]="'ID' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{(item.user && item.user.username) ? item.user.username : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Nickname' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.user ? item.user.nickname : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Title' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.title ? item.title : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Thema' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.category.thema ? item.category.thema.name : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Category' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.category.name ? item.category.name : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <!-- <data-table-column [header]="'Min price' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.min_price ? item.min_price : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column> -->
        <data-table-column [header]="'Opening hours' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.opening_hours ? item.opening_hours : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Contact phone' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.contact_phone ? item.contact_phone : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Address' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.address ? (item.address + ' '+ item.short_address )  : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'List Image' | translate">
          <ng-template #dataTableCell let-item="item">
            <span *ngIf="item.images === null || item.images.length === 0">
              {{'No info' | translate}}
            </span>
            <span *ngFor="let item of item.thumbnails" lazy-load-images style="float: left; margin-left: 2px;">
              <img id="view" height="50px" [attr.data-src]="item" (click)="openModalZoomImage(templateImage,item)"
                onerror="this.src='https://kormassage.s3.ap-northeast-2.amazonaws.com/resized-image-1600918517975.png'">
            </span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Location' | translate">
          <ng-template #dataTableCell let-item="item">
            <button (click)="openModal(template, item)" class="btn btn-primary" style="margin-right: 5px;">
              <i class="fa fa-map-marker"></i>
            </button>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Actions' | translate">
          <ng-template #dataTableCell let-item="item">
            <button *ngIf="!checkExpire(item)" (click)="openModalApprove(templateApprove, item)" class="btn btn-primary"
              style="margin-bottom: 5px;">
              <i>{{'Approve' | translate}}</i>
            </button>
            <button *ngIf="checkExpire(item)" (click)="acceptItemOld(item)" class="btn btn-primary"
              style="margin-bottom: 5px;">
              <i>{{'Approve' | translate}}</i>
            </button>
            <button (click)="openModalDeny(templateDeny,item)" class="btn btn-danger">
              <i>{{'Reject' | translate}}</i>
            </button>
          </ng-template>
        </data-table-column>
      </data-table>
    </div>
  </div>
</div>
<ng-template #templateImage>
  <div class="modal-body-img">
    <div style="    white-space: nowrap;
                    overflow-x: visible;
                    overflow-y: hidden;
                    height: 100%;;
                    width: 100%;">

      <p lazy-load-images>
        <img [attr.data-src]="zoom_image" (error)="replaceImage($event)"
          onerror="this.src='https://kormassage.s3.ap-northeast-2.amazonaws.com/resized-image-1600918517975.png'">
      </p>
    </div>
  </div>
</ng-template>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Location'| translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(link_map)" width="730" height="450" frameborder="0"
      style="border:0;" allowfullscreen=""></iframe>

  </div>
</ng-template>
<ng-template #templateApprove>
  <form class="form-horizontal form-content" #formContent="ngForm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ 'Approved' | translate }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="modal-body">
          <div class="col-md-12 form-item" hidden>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Shop ID</span>
              </div>
              <input type="text" id="id_update" class="form-control" name="id_update" [(ngModel)]="id_update"
                #nameControl="ngModel">
            </div>
          </div>
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Extra days' | translate }}</span>
              </div>
              <input type="number" (change)="check_extra_day()" min="30" max="180" id="extra_days" class="form-control"
                name="extra_days" [(ngModel)]="extra_days" #nameControl="ngModel">
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" data-style="expand-right" [ladda]='submittingApprove'
          (click)="acceptItem(formContent)">
          <i>{{ 'Approved' | translate }}</i>
        </button>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #templateApproveAll>
  <form class="form-horizontal form-content" #formContent="ngForm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ 'Approve All' | translate }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="modal-body">
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Extra days' | translate }}</span>
              </div>
              <input type="number" (change)="check_extra_day_for_all()" min="30" max="180" id="extra_days_for_all"
                class="form-control" name="extra_days_for_all" [(ngModel)]="extra_days_for_all" #nameControl="ngModel">
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="card-header">
        <i class="fa fa-list"></i> {{'Expired shop list' | translate}}
      </div>
      <div class="card-body scroll-table">
        <data-table id="data-table-grid" #itemsTable [indexColumnHeader]="'no' | translate" [items]="listExpiredShop"
          [limit]="default_limit" [itemCount]="listExpiredShop.length" [pagination]="true" [indexColumn]="true"
          [selectColumn]="false" [multiSelect]="false" [substituteRows]="false" [selectOnRowClick]="false"
          [showReloading]="false">
          <data-table-column [header]="'Title' | translate">
            <ng-template #dataTableCell let-item="item">
              <span>{{item && item.title}}</span>
            </ng-template>
          </data-table-column>
          <data-table-column [header]="'Nickname' | translate">
            <ng-template #dataTableCell let-item="item">
              <span>{{item.user ? item.user.nickname : 'No info' | translate}}</span>
            </ng-template>
          </data-table-column>
        </data-table>
      </div> <br />
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" data-style="expand-right" [ladda]='submittingApprove'
          (click)="acceptItemAll(formContent)">
          <i>{{ 'Approved' | translate }}</i>
        </button>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #templateDeny>
  <form class="form-horizontal form-content" #formContent="ngForm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ 'Rejected' | translate }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="modal-body">
          <div class="col-md-12 form-item" hidden>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Shop ID</span>
              </div>
              <input type="text" id="id_update" class="form-control" name="id_update" [(ngModel)]="id_update"
                #nameControl="ngModel">
            </div>
          </div>
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Deny message' | translate }}</span>
              </div>
              <input type="text" id="denied_message" class="form-control" name="denied_message"
                [(ngModel)]="denied_message" #denied_messageControl="ngModel">

            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" data-style="expand-right" [ladda]='submittingApprove'
          (click)="rejectedItem(formContent)">
          <i>{{ 'Rejected' | translate }}</i>
        </button>
      </div>
    </div>
  </form>
</ng-template>