<div class="animated fadeIn">
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'Course day discount tutorial' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content_day_discount" [(ngModel)]="content_day_discount" [froalaEditor]="editorOptions"></div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right"
          (click)="submitEdit(formContent,'COURSE_DAY_DISCOUNT_TUTORIAL')">
          <i class="fa fa-save"></i> {{'Submit' | translate}}
        </button>
      </div>
    </form>
  </div>
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'Course day price tutorial' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content_day_price" [(ngModel)]="content_day_price" [froalaEditor]="editorOptions"></div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right"
          (click)="submitEdit(formContent,'COURSE_DAY_PRICE_TUTORIAL')">
          <i class="fa fa-save"></i> {{'Submit' | translate}}
        </button>
      </div>
    </form>
  </div>
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'Course description tutorial' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content_description" [(ngModel)]="content_description" [froalaEditor]="editorOptions"></div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right"
          (click)="submitEdit(formContent,'COURSE_DESCRIPTION_TUTORIAL')">
          <i class="fa fa-save"></i> {{'Submit' | translate}}
        </button>
      </div>
    </form>
  </div>
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'Course full day discount tutorial' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content_fullday_discount" [(ngModel)]="content_fullday_discount" [froalaEditor]="editorOptions"></div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right"
          (click)="submitEdit(formContent,'COURSE_FULL_DAY_DISCOUNT_TUTORIAL')">
          <i class="fa fa-save"></i> {{'Submit' | translate}}
        </button>
      </div>
    </form>
  </div>
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'Course full day price tutorial' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content_fullday_price" [(ngModel)]="content_fullday_price" [froalaEditor]="editorOptions"></div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right"
          (click)="submitEdit(formContent,'COURSE_FULL_DAY_PRICE_TUTORIAL')">
          <i class="fa fa-save"></i> {{'Submit' | translate}}
        </button>
      </div>
    </form>
  </div>
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'Course night discount tutorial' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content_night_discount" [(ngModel)]="content_night_discount" [froalaEditor]="editorOptions"></div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right"
          (click)="submitEdit(formContent,'COURSE_NIGHT_DISCOUNT_TUTORIAL')">
          <i class="fa fa-save"></i> {{'Submit' | translate}}
        </button>
      </div>
    </form>
  </div>
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'Course night price tutorial' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content_night_price" [(ngModel)]="content_night_price" [froalaEditor]="editorOptions"></div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right"
          (click)="submitEdit(formContent,'COURSE_NIGHT_PRICE_TUTORIAL')">
          <i class="fa fa-save"></i> {{'Submit' | translate}}
        </button>
      </div>
    </form>
  </div>
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'Course running time tutorial' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content_running_time" [(ngModel)]="content_running_time" [froalaEditor]="editorOptions"></div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right"
          (click)="submitEdit(formContent,'COURSE_RUNNING_TIME_TUTORIAL')">
          <i class="fa fa-save"></i> {{'Submit' | translate}}
        </button>
      </div>
    </form>
  </div>
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'Course title tutorial' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content_title" [(ngModel)]="content_title" [froalaEditor]="editorOptions"></div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right"
          (click)="submitEdit(formContent,'COURSE_TITLE_TUTORIAL')">
          <i class="fa fa-save"></i> {{'Submit' | translate}}
        </button>
      </div>
    </form>
  </div>
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'Course unit tutorial' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content_unit" [(ngModel)]="content_unit" [froalaEditor]="editorOptions"></div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right"
          (click)="submitEdit(formContent,'COURSE_UNIT_TUTORIAL')">
          <i class="fa fa-save"></i> {{'Submit' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>