<div class="animated fadeIn">
  <form class="form-content" #formContent="ngForm">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <strong><i class="fa fa-info"></i> {{'Information' | translate}}</strong>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="title">{{'Shop' | translate}}</label>
              <input (click)="showDropdownShop()" [placeholder]="'Please choose shop' | translate" id="shop_id"
                class="form-control input-control" name="shop_id" [value]="getShopNameFromId(shop_id)" />
              <div style="width: 80%; height: 600px;" id="myDropdownShop" class="dropdown-content">
                <span (click)="closeDropdownShop()"
                  style="float: right; font-size: 25px; width: 25px; height: 25px; cursor: pointer;;">x</span>
                <div style="clear: both;"></div>
                <div>
                  <select class="form-control" id="search_section" name="option_search" [(ngModel)]="option_search"
                    (ngModelChange)="changeSearchHandler()">
                    <option value="username">{{'ID' | translate}}</option>
                    <option value="nickname">{{'Nickname' | translate}}</option>
                    <option value="title">{{'Title' | translate}}</option>
                  </select>
                  <input style="margin-left: 15px;width: 70%;height: 50px;" type="text"
                    [placeholder]="'Please search member with ID , ID code, and Nckname' | translate" id="myShopInput"
                    (keyup)="onShopSearch()">
                </div>
                <div id="singerShopListWrapper" style="overflow: scroll; height: 200px;">
                  <div [id]="item.id" *ngFor="let item of listShopFiltered"
                    (click)="onShopClick(item);"
                    [ngClass]="this.lastShopSubmitSingerId === item.id ? 'checked' : ''">
                    <img height="80px" width="80px" style="object-fit: cover; margin: 5px;"
                      [src]="item.images ? item.images[0] : thumbDefault"
                      onerror="this.src='https://server.hitek.com.vn:7779/api/v1/image/get/resized-large-image-1589440379750.png'">
                    <span class="search-item">
                      {{item.title}}&nbsp;&nbsp;
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- ///////////////////////////// -->
            <div class="form-group">
              <label for="title">{{'User' | translate}}</label>
              <input (click)="showDropdown()" [placeholder]="'Please choose user' | translate" id="user_id"
                class="form-control input-control" name="user_id" [value]="getUserNickNameFromId(user_id)" />
              <div style="width: 80%; height: 600px;" id="myDropdown" class="dropdown-content">
                <span (click)="closeDropdownUser()"
                  style="float: right; font-size: 25px; width: 25px; height: 25px; cursor: pointer;;">x</span>
                <div style="clear: both;"></div>
                <input style="margin-top: 15px; width: 100%; height:50px;" type="text"
                  [placeholder]="'Please search member with ID , ID code, and Nckname' | translate" id="myInput"
                  (keyup)="onUserSearch()">
                <div id="singerListWrapper" style="overflow: scroll; height: 200px;">
                  <div [id]="item.id" *ngFor="let item of listUserFiltered" (click)="onUserClick(item);onChangeName()"
                    [ngClass]="this.lastSubmitSingerId === item.id ? 'checked' : ''">
                    <img height="80px" width="80px" style="object-fit: cover; margin: 5px;"
                      [src]="item.avatar ? item.avatar : thumbDefault"
                      onerror="this.src='https://server.hitek.com.vn:7779/api/v1/image/get/resized-large-image-1589440379750.png'">
                    <span class="search-item">
                      {{item.nickname}}&nbsp;&nbsp;|&nbsp;&nbsp;{{item.username}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- ////////////////////// -->
            <div class="form-group">
              <label for="thema_id">{{'Thema' | translate}}</label>
              <select (change)="updateCateListWhenChooseThema()" name="thema_id" [(ngModel)]="thema_id" id="thema_id"
                class="form-control input-control">
                <option *ngFor="let item of themas" value="{{ item.id }}">{{
                  item.name
                  }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="category_id">{{'Category' | translate}}</label>
              <select name="category_id" [(ngModel)]="category_id" required #categoryControl="ngModel"
                [ngClass]="{'is-invalid' : categoryControl.errors?.required}" id="category_id"
                class="form-control input-control">
                <option *ngFor="let item of categories" value="{{ item.id }}">{{
                  item.name
                  }}</option>
              </select>
              <div class="invalid-feedback" *ngIf="categoryControl.errors?.required">
                {{'Please choose category.' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="title">{{'Title' | translate}}</label>
              <input class="form-control" id="title" [placeholder]="'Enter title' | translate" type="text" name="title"
                [(ngModel)]="title" required #titleControl="ngModel"
                [ngClass]="{'is-invalid' : titleControl.errors?.required}">
              <div class="invalid-feedback" *ngIf="titleControl.errors?.required">
                {{'Please enter title' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="brief_description">{{'Brief description' | translate}}</label>
              <input class="form-control" id="short_description" [placeholder]="'Enter brief description' | translate"
                type="text" name="short_description" [(ngModel)]="short_description" required
                #brief_descriptionControl="ngModel"
                [ngClass]="{'is-invalid' : brief_descriptionControl.errors?.required}">
              <div class="invalid-feedback" *ngIf="brief_descriptionControl.errors?.required">
                {{'Please enter brief description' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="min_price">{{'Min amount' | translate}}</label>
              <input class="form-control" id="min_price" maxlength="10" [placeholder]="'Enter min amount' | translate"
                type="text" name="min_price" [(ngModel)]="min_price" required #min_priceControl="ngModel"
                [ngClass]="{'is-invalid' : min_priceControl.errors?.required}">
              <div class="invalid-feedback" *ngIf="min_priceControl.errors?.required">
                {{'Please enter min amount.' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="contact_phone">{{'Contact phone' | translate}}</label>
              <input class="form-control" id="contact_phone" [placeholder]="'enter phone' | translate" type="text"
                name="contact_phone" [(ngModel)]="contact_phone" required #contact_phoneControl="ngModel"
                [ngClass]="{'is-invalid' : contact_phoneControl.errors?.required}">
              <div class="invalid-feedback" *ngIf="contact_phoneControl.errors?.required">
                {{'Please enter contact phone.' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="start_time">{{'Start time - End time' | translate}}</label>
              <select name="start_time" [(ngModel)]="start_time" required #start_timeControl="ngModel"
                [ngClass]="{'is-invalid' : start_timeControl.errors?.required}" id=""
                class="form-control input-control">
                <option *ngFor="let item of hours" value="{{ item }}">{{
                  item
                  }}</option>
              </select>
              <div class="invalid-feedback" *ngIf="start_timeControl.errors?.required">
                {{'Please choose start time.' | translate}}
              </div>
              <select name="end_time" [(ngModel)]="end_time" required #end_timeControl="ngModel"
                [disabled]="start_time === null" [ngClass]="{'is-invalid' : end_timeControl.errors?.required}" id=""
                class="form-control input-control">
                <option *ngFor="let item of hours1" value="{{ item }}">{{
                  item
                  }}</option>
              </select>
              <div class="invalid-feedback" *ngIf="end_timeControl.errors?.required">
                {{'Please choose end time.' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="kakaolink_url">{{'Kakao link' | translate}}</label>
              <input class="form-control" id="kakaolink_url" [placeholder]="'Enter kakao link' | translate" type="text"
                name="kakaolink_url" [(ngModel)]="kakaolink_url">
            </div>
            <div class="form-group">
              <label for="tag">{{'Tag' | translate}}</label>
              <form [formGroup]="form_tag" *ngIf="form_tag" (ngSubmit)="save()" (reset)="resetForm()">

                <ng-multiselect-dropdown #multiSelect [placeholder]="'Select Tag' | translate" [data]="tags"
                  [(ngModel)]="tags_select" [settings]="settings" [formControl]="f.name" [disabled]="false"
                  (onFilterChange)="onSave($event)" (onSelect)="onSave($event)" (onDeSelect)="onSave($event)"
                  (onSelectAll)="onSave($event)" (onDeSelectAll)="onSave($event)">
                </ng-multiselect-dropdown>
                <span class="invalid-feedback" *ngIf="f?.name?.errors?.required">
                  tag is required
                </span>
              </form>
            </div>
            <!-- <div class="form-group">
              <label for="contact_phone">{{'Theme color' | translate}}</label>
              <input class="form-control col-3" id="theme_color" [(colorPicker)]="theme_color"
                [style.background]="theme_color" />
            </div> -->
            <div class="form-group">
              <label for="badge_color">{{'Badge color' | translate}}</label>
              <div>
                <input class="form-control col-3" id="badge_color" [(colorPicker)]="badge_color"
                  [style.background]="badge_color" />
              </div>
            </div>
            <div class="form-group">
              <label for="badge_color">{{'Badge text' | translate}}</label>
              <div>
                <input class="form-control" id="badge_text" [placeholder]="'Enter badge text' | translate" type="text"
                  name="badge_text" [(ngModel)]="badge_text" #badge_textControl="ngModel">
              </div>
            </div>
            <div class="form-group">
              <label for="geolocation_api_type">{{'Geolocation type' | translate}}</label>
              <select name="geolocation_api_type" [(ngModel)]="geolocation_api_type" required #geolocation_api_typeControl="ngModel"
                [ngClass]="{'is-invalid' : geolocation_api_typeControl.errors?.required}" id="geolocation_api_type"
                class="form-control input-control">
                <option value="GOOGLE">Google</option>
                <option value="NAVER">Naver</option>
              </select>
              <div class="invalid-feedback" *ngIf="geolocation_api_typeControl.errors?.required">
                {{'Please choose geolocation type.' | translate}}
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="city_id">{{'City' | translate}}</label>
              <select name="city_id" [(ngModel)]="city_id" required #cityControl="ngModel" (change)="listDistrict()"
                [ngClass]="{'is-invalid' : cityControl.errors?.required}" id="" class="form-control input-control">
                <option *ngFor="let item of cities" value="{{ item.id }}">{{
                  item.name
                }}</option>
              </select>
              <div class="invalid-feedback" *ngIf="cityControl.errors?.required">
                {{'Please choose city.' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="district_id">{{'District' | translate}}</label>
              <select name="district_id" [(ngModel)]="district_id" required #districtControl="ngModel" (change)="listWard()"
                [ngClass]="{'is-invalid' : districtControl.errors?.required}" id="" class="form-control input-control">
                <option *ngFor="let item of districts" value="{{ item.id }}">{{
                  item.name
                }}</option>
              </select>
              <div class="invalid-feedback" *ngIf="districtControl.errors?.required">
                {{'Please choose district.' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="ward_id">{{'Ward' | translate}}</label>
              <select name="ward_id" [(ngModel)]="ward_id" required #wardControl="ngModel"
                [ngClass]="{'is-invalid' : wardControl.errors?.required}" id="" class="form-control input-control">
                <option *ngFor="let item of wards" value="{{ item.id }}">{{
                  item.name
                }}</option>
              </select>
              <div class="invalid-feedback" *ngIf="wardControl.errors?.required">
                {{'Please choose ward.' | translate}}
              </div>
            </div> -->
            <div class="form-group">
              <label for="address">{{'Address' | translate}}</label>
              <input ngx-google-places-autocomplete class="form-control" id="address"
                [placeholder]="'Enter address' | translate" type="text" name="address" [(ngModel)]="address" required
                #addressControl="ngModel" [ngClass]="{'is-invalid' : addressControl.errors?.required}" (onAddressChange)="handleAddressChange($event)">
              <div class="invalid-feedback" *ngIf="addressControl.errors?.required">
                {{'Please enter address.' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="address_2">{{'Detailed address' | translate}}</label>
              <input class="form-control" id="address_2" [placeholder]="'Enter detailed address' | translate"
                type="text" name="address_2" [(ngModel)]="address_2">
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <strong><i class="fa fa-picture-o"></i> {{'Images' | translate}}</strong>
            <button class="pull-right btn btn-primary btn-upload-avatar" (click)="fileAvatar.click()"
              *ngIf="!loadingUploadAvatar"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
              {{'Upload Image' | translate}}</button>
            <button class="pull-right btn btn-primary btn-upload-avatar" *ngIf="loadingUploadAvatar"><i
                class="fa fa-spinner fa-spin"></i> {{'Uploading Image' | translate}}</button>
            <input id="fileAvatar" type="file" (change)="uploadAvatar($event)" #fileAvatar accept="image/*">
          </div>
          <div class="card-body">
            <div *ngFor="let item of thumbnails">
              <div class="avatar" [style.backgroundImage]="'url('+ item +')'" *ngIf="item && item !== null">
                <span class="remove-avatar" (click)="removeAvatar(item)"><i class="fa fa-times"></i></span>
              </div>
            </div>


          </div>
        </div>
        <div class="card">

        </div>
        <div class="card">
          <div class="card-header">
            <strong><i class="fa fa-picture-o"></i> {{'Description' | translate}}</strong>
          </div>
          <div class="card-body">
            <!-- <quill-editor name="description" [(ngModel)]="description">
            </quill-editor> -->
            <div name="description" [(ngModel)]="description" [froalaEditor]="editorOptions"></div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-footer" *ngIf="state !=='PENDING'">
            <button class="btn btn-success" *ngIf="!isEdit" data-style="expand-right" [ladda]='submitting'
              (click)="submitAdd(formContent)">
              <i class="fa fa-plus"></i> {{'Submit' | translate}}
            </button>
            <button class="btn btn-success" *ngIf="isEdit" data-style="expand-right" [ladda]='submitting'
              (click)="submitUpdate(formContent)">
              <i class="fa fa-save"></i> {{'Edit' | translate}}
            </button>
            <button class="btn btn-danger ml-1" *ngIf="isEdit" data-style="expand-right" (click)="deleteItem()">
              <i class="fa fa-trash"></i> {{'Delete' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>