<div class="animated fadeIn">
  <form class="form-content" #formContent="ngForm">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <strong><i class="fa fa-info"></i> {{'Information' | translate}}</strong>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="name">{{'Name' | translate}}</label>
              <input class="form-control" id="name" [placeholder]="'enter name' | translate" type="text" name="name"
                [(ngModel)]="name" required #nameControl="ngModel"
                [ngClass]="{'is-invalid' : nameControl.errors?.required}">
              <div class="invalid-feedback" *ngIf="nameControl.errors?.required">
                {{'Please enter name.' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="thema_name">{{'Thema' | translate}}</label>
              <select name="thema_id" [(ngModel)]="thema_id" #thema_idControl="ngModel" (change)="changeThema();" id=""
                class="form-control input-control">
                <option *ngIf="route_link === 'BULLETIN_BOARD' || route_link === 'EVENT_BOARD'" value="null">All thema
                </option>
                <option *ngFor="let item of themas" value="{{ item.id }}">{{
                  item.name
                }}</option>
              </select>
              <!-- <div class="invalid-feedback" *ngIf="thema_idControl.errors?.required">
                {{'Please choose thema.' | translate}}
              </div> -->
            </div>
            <div class="form-group">
              <label for="route_link">{{'Route' | translate}}</label>
              <select class="form-control" name="route_link" id="route_link" [(ngModel)]="route_link" required
                #route_linkControl="ngModel" [ngClass]="{'is-invalid' : route_linkControl.errors?.required}">
                <option [ngValue]="null">{{'Choose route' | translate}}</option>
                <option value="BULLETIN_BOARD">{{'Bulletin board' | translate}}</option>
                <option value="DISTANCE_ORDER_BOARD">{{'Distance order board' | translate}}</option>
                <option value="DISTANCE_ORDER_BOARD_2">{{'Distance order board' | translate}} 2</option>
                <option value="EVENT_BOARD">{{'Event board' | translate}}</option>
                <option value="SHOP_LIST_BOARD">{{'Shop list board' | translate}}</option>
                <option value="RECRUIT_BOARD">{{'Recruit board' | translate}}</option>
                <option value="RECRUIT_BOARD_2">{{'Job hunting board' | translate}}</option>

              </select>
              <div class="invalid-feedback" *ngIf="route_linkControl.value == null">
                {{'Please enter route' | translate}}
              </div>
            </div>
            <!--  -->
            <div class="form-group">
              <label for="name">{{'The order of link' | translate}}</label>
              <input class="form-control" id="index" [placeholder]="'Enter the order of link' | translate" type="number"
                name="index" [(ngModel)]="index" required #indexControl="ngModel" min="0"
                [ngClass]="{'is-invalid' : indexControl.errors?.required}">
              <div class="invalid-feedback" *ngIf="indexControl.errors?.required">
                {{'Please enter the order of link.' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="category">{{'User Type' | translate}}</label>
              <form [formGroup]="form" *ngIf="form" (ngSubmit)="save()" (reset)="resetForm()">
                <ng-multiselect-dropdown #multiSelect [placeholder]="'Select User type'" [data]="user_types"
                  [(ngModel)]="user_types_select" [settings]="settings" [formControl]="f.user_type" [disabled]="false"
                  (onFilterChange)="onSave($event)" (onSelect)="onSave($event)" (onDeSelect)="onSave($event)"
                  (onSelectAll)="onSave($event)" (onDeSelectAll)="onSave($event)">
                </ng-multiselect-dropdown>
                <span class="invalid-feedback" *ngIf="f?.name?.errors?.required">
                  User Type is required
                </span>
              </form>
            </div>
            <!--  -->
            <div class="form-group">
              <label for="category">{{'Category' | translate}}</label>
              <input *ngIf="thema_id === 'null'" class="form-control" disabled value="All Category">
              <form  [formGroup]="form" *ngIf="form" (ngSubmit)="save()" (reset)="resetForm()">

                <ng-multiselect-dropdown *ngIf="thema_id !== 'null'" #multiSelect [placeholder]="'Select Category' | translate" [data]="categories"
                  [(ngModel)]="categories_select" [settings]="settings" [formControl]="f.name" [disabled]="false"
                  (onFilterChange)="onSaveCa($event)" (onSelect)="onSaveCa($event)" (onDeSelect)="onSaveCa($event)"
                  (onSelectAll)="onSaveCa($event)" (onDeSelectAll)="onSaveCa($event)">
                </ng-multiselect-dropdown>
                <span class="invalid-feedback" *ngIf="f?.name?.errors?.required">
                  Category is required
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <strong><i class="fa fa-picture-o"></i> {{'Image' | translate}}</strong>
            <button class="pull-right btn btn-primary btn-upload-avatar" (click)="fileAvatar.click()"
              *ngIf="!loadingUploadAvatar"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
              {{'Upload Image' | translate}}</button>
            <button class="pull-right btn btn-primary btn-upload-avatar" *ngIf="loadingUploadAvatar"><i
                class="fa fa-spinner fa-spin"></i> {{'Uploading Image' | translate}}</button>
            <input id="fileAvatar" type="file" (change)="uploadAvatar($event)" #fileAvatar accept="image/*">
          </div>
          <div class="card-body">
            <div class="avatar" [style.backgroundImage]="'url('+ image +')'" *ngIf="image && image !== null">
              <span class="remove-avatar" (click)="removeAvatar()"><i class="fa fa-times"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-footer">
            <button class="btn btn-success" *ngIf="!isEdit" data-style="expand-right" [ladda]='submitting'
              (click)="submitAdd(formContent)">
              <i class="fa fa-plus"></i> {{'Submit' | translate}}
            </button>
            <button class="btn btn-success" *ngIf="isEdit" data-style="expand-right" [ladda]='submitting'
              (click)="submitUpdate(formContent)">
              <i class="fa fa-save"></i> {{'Edit' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>