<div class="animated fadeIn">
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'Event page A' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content_a" [(ngModel)]="content_a" [froalaEditor]="editorOptions"></div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right"
          (click)="submitEdit(formContent,'A')">
          <i class="fa fa-save"></i> {{'Submit event' | translate}}
        </button>
      </div>
    </form>
  </div>
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'Event page B' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content_b" [(ngModel)]="content_b" [froalaEditor]="editorOptions"></div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right"
          (click)="submitEdit(formContent,'B')">
          <i class="fa fa-save"></i> {{'Submit event' | translate}}
        </button>
      </div>
    </form>
  </div>
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'Event page C' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content_c" [(ngModel)]="content_c" [froalaEditor]="editorOptions"></div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right"
          (click)="submitEdit(formContent,'C')">
          <i class="fa fa-save"></i> {{'Submit event' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
