<div class="animated fadeIn">
  <div class="card">
    <form class="form-content" #formContent="ngForm">
      <div class="card-header">
        {{'How to use' | translate}}
      </div>
      <div class="card-body">
        <!-- <quill-editor name="content" [(ngModel)]="content">
        </quill-editor> -->
        <div name="content" [(ngModel)]="content" [froalaEditor]></div>

      </div>
      <div class="card-footer">
        <button class="btn btn-success" data-style="expand-right" [ladda]='submitting'
          (click)="submitEdit(formContent)">
          <i class="fa fa-save"></i> {{'Submit' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
