<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-search"></i> {{'Search' | translate}}
      <div class="btn-action float-right">
        <button class="btn btn-danger" [disabled]="!itemsTable.selectedRows.length" (click)="deleteAll()">
          <i class="fa fa-trash"></i> {{'Delete' | translate}}
        </button>
        <!-- <button class="btn btn-primary" (click)="exportAsXLSX()">
          <i class="fa fa-cloud-download"></i> {{'Export excel' | translate}}
        </button> -->
        <button class="btn btn-info" routerLink="/users/add">
          <i class="fa fa-plus"></i> {{'Add new' | translate}}
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="row apps">
        <div class="col-12 search form-group">
          <div class="row">
            <div class="col-3">
              <select class="form-control" name="fieldSearch" [(ngModel)]="fieldSearch">
                <option [ngValue]="null">{{'Choose search condition' | translate}} </option>
                <option value="id">{{'ID' | translate}}</option>
                <option value="email">{{'Email' | translate}}</option>
                <option value="phone">{{'Mobile phone' | translate}}</option>
                <option value="nickname">{{'Nickname' | translate}}</option>
              </select>
            </div>
            <div class="col-3">
              <select (change)="filterUserType()" class="form-control" name="account_type" [(ngModel)]="account_type">
                <option value="null">{{'Choose account type' | translate}}</option>
                <option value="BIZ_USER">{{'Biz User' | translate}}</option>
                <option value="FREE_USER">{{'Free User' | translate}}</option>
                <option value="PAID_USER">{{'Paid User' | translate}}</option>
              </select>
            </div>
            <div class="col-2">
              <input type="text" class="form-control" [placeholder]="'Enter keyword' | translate" name="keyword"
                [(ngModel)]="keyword">
            </div>
            <div class="col-2">
              <!-- <select class="form-control" name="group" [(ngModel)]="group">
                <option value=null>{{'All group' | translate}}</option>
                <option value="1번">{{'1번' | translate}}</option>
                <option value="2번">{{'2번' | translate}}</option>
                <option value="3번">{{'3번' | translate}}</option>
                <option value="4번">{{'4번' | translate}}</option>
                <option value="5번">{{'5번' | translate}}</option>
                <option value="6번">{{'6번' | translate}}</option>
                <option value="7번">{{'7번' | translate}}</option>
                <option value="8번">{{'8번' | translate}}</option>
                <option value="9번">{{'9번' | translate}}</option>
                <option value="10번">{{'10번' | translate}}</option>
              </select> -->
              <form [formGroup]="form_group" *ngIf="form_group" (ngSubmit)="save()" (reset)="resetForm()">

                <ng-multiselect-dropdown #multiSelect [placeholder]="'Group' | translate" [data]="groups"
                  [(ngModel)]="groups_select" [settings]="settings" [formControl]="f.name" [disabled]="false"
                  (onFilterChange)="onSave($event)" (onSelect)="onSave($event)" (onDeSelect)="onSave($event)"
                  (onSelectAll)="onSave($event)" (onDeSelectAll)="onSave($event)">
                </ng-multiselect-dropdown>
              </form>
            </div>
            <div class="col-2">
              <button class="btn btn-primary" (click)="search()" data-style="expand-left" [ladda]='submitting'><i
                  class="fa fa-search"></i> {{'Search' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-list"></i> {{'User list' | translate}}
    </div>
    <div class="card-body scroll-table" id="user-list">
      <data-table id="data-table-grid" #itemsTable [indexColumnHeader]="'no' | translate" [items]="items | async"
        [limit]="default_limit" [page]="default_page" [itemCount]="itemCount" (reload)="reloadItems($event)"
        [pagination]="true" [indexColumn]="true" [selectColumn]="true" [multiSelect]="true" [substituteRows]="false"
        [selectOnRowClick]="false" [showReloading]="false">
        <!-- <data-table-column [header]="'ID' | translate">
          <ng-template #dataTableCell let-item="item">
            <span ngxClipboard [cbContent]="item.id" (cbOnSuccess)="alertCopied(item.id)">{{item.id}}</span>
          </ng-template>
        </data-table-column> -->
        <data-table-column [header]="'Login type - Account type' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.login_type ? item.login_type : 'ADMIN'}}</span><span>{{item.account_type ?' - '+
              ((item.account_type === 'PAID_USER' && calExpiredDate(item.paid_user_expiration_date) === 'Expired')?
              ('FREE_USER'| translate):item.account_type| translate):''}}</span>
            <br>
            <span>{{(item.account_type !== 'PAID_USER')? '': ((item.account_type === 'PAID_USER' &&
              calExpiredDate(item.paid_user_expiration_date) === 'Expired')?
              '':calExpiredDate(item.paid_user_expiration_date) + ' Day left' | translate) }}</span>
          </ng-template>
        </data-table-column>
        <data-table-column property="username" [header]="'ID' | translate">
        </data-table-column>
        <data-table-column property="nickname" [header]="'Nickname' | translate">
        </data-table-column>
        <!-- <data-table-column [header]="'Email' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.email ? item.email : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column> -->
        <data-table-column [header]="'Company name' | translate">>
          <ng-template #dataTableCell let-item="item">
            <span>{{item.company_name ? item.company_name : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Mobile phone' | translate" property="phone">
          <ng-template #dataTableCell let-item="item">
            {{item.phone?item.phone:'No info' | translate}}
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Photo (selfie)' | translate">
          <ng-template #dataTableCell let-item="item">
            <p lazy-load-images>
              <img height="50px"
                [attr.data-src]="item.avatar ? item.avatar : 'https://kormassage.s3.ap-northeast-2.amazonaws.com/resized-image-1600918517975.png'"
                onerror="this.src='https://kormassage.s3.ap-northeast-2.amazonaws.com/resized-image-1600918517975.png'">

          </ng-template>
        </data-table-column>
        <!-- <data-table-column [header]="'Post expired date' | translate">
          <ng-template #dataTableCell let-item="item">
            <button *ngIf="item.post_expired_date" (click)="openModalAddTime(template, item)" class="btn btn-primary">
              <i>{{item.post_expired_date?(getDateFromUnixTimestamp(item.post_expired_date)| date :"yyyy/MM/dd":'+9'):'No info'}}</i>
            </button>
            <button *ngIf="!item.post_expired_date" (click)="openModalAddTime(template, item)" class="btn btn-primary">
              <i>Set expired time</i>
            </button>
          </ng-template>
        </data-table-column> -->
        <data-table-column [header]="'Post Limit' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.post_limit ? item.post_limit : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Jump-up limit' | translate">
          <ng-template #dataTableCell let-item="item">
            <button *ngIf="item.account_type === 'BIZ_USER'" type="submit" class="btn btn-primary"
              data-style="expand-right" (click)="openModalAddJumpLimit(templateJumpLimit, item)">
              <i>{{item.jump_limit ? item.jump_limit : '0'}}</i>
            </button>
            <span *ngIf="item.account_type !== 'BIZ_USER'">{{'No info' | translate}}</span>
            <br>
            <button *ngIf="item.account_type === 'BIZ_USER'" type="submit" class="btn btn-primary mt-1"
              data-style="expand-right" (click)="openModalHistory(templateJumpLimitPage, item)">
              <i>{{'View history' | translate}}</i>
            </button>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Post status' | translate">
          <ng-template #dataTableCell let-item="item">
            <span (click)="openModalShop(templateShopPage, item,'active')">{{'Active post' | translate}}:
              {{item.current_active_post}}<br></span>
            <span>{{'Pending post' | translate}}: {{item.current_pending_post}}<br></span>
            <span>{{'Rejected post' | translate}}: {{item.current_rejected_post}}<br></span>
            <span (click)="openModalShop(templateShopPage, item,'expired')">{{'Expired post' | translate}}:
              {{item.current_expired_post}}<br></span>
            <span>{{'Recommend post' | translate}}: {{item.current_recommendation_post}}</span>

          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Memo' | translate">
          <ng-template #dataTableCell let-item="item">
            <span (click)="openModalMemo(templateMemo, item)">...{{'see more' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Pick winners' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.event_type ? (item.event_type | translate) : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <!-- <data-table-column header="Paypal account">
        </data-table-column> -->
        <data-table-column [header]="'Actions' | translate">
          <ng-template #dataTableCell let-item="item">
            <button (click)="editItem(item)" class="btn btn-primary" style="margin-right: 5px;">
              <i class="fa fa-edit"></i>
            </button>
            <button (click)="deleteItem(item)" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </ng-template>
        </data-table-column>
      </data-table>
    </div>
  </div>
</div>
<ng-template #templateJumpLimitPage>
  <div class="modal-header">
    <h4 class="modal-title">{{'History' | translate}}</h4>
    <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-wrapper">
      <data-table id="data-table-grid" #itemsTableListHistories [indexColumnHeader]="'no' | translate"
        [items]="listHistories | async" [itemCount]="itemCountListHistories" (reload)="reloadListHistories($event)"
        [pagination]="true" [indexColumn]="true" [selectColumn]="false" [multiSelect]="false" [substituteRows]="false"
        [selectOnRowClick]="false" [showReloading]="false" class="history">
        <data-table-column [header]="'Content' | translate">
          <ng-template #dataTableCell let-item="item">
            <span *ngIf="!item.note">
              {{'Apply Jump up for' | translate}}: {{item.shop !== null ? item.shop.title !== null ? item.shop.title :
              ('No info' | translate) : ('No info' | translate)}}
            </span>
            <span *ngIf="item.note">
              {{'Credit Jump up' | translate}}
            </span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Amount' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>
              {{item.note === null ? 1:item.note}}
            </span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Transaction time' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.created_at_unix_timestamp ? (getDateFromUnixTimestamp(item.created_at_unix_timestamp) | date
              :'yyyy/MM/dd HH:mm'): ''}}</span>

          </ng-template>
        </data-table-column>
      </data-table>
    </div>
  </div>
</ng-template>
<ng-template #templateJumpLimit>
  <form class="form-horizontal form-content" #formContent="ngForm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ 'Add' | translate }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="modal-body">
          <div class="col-md-12 form-item" hidden>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">User ID</span>
              </div>
              <input type="text" id="id_update" class="form-control" name="id_update" [(ngModel)]="id_update"
                #nameControl="ngModel">
            </div>
          </div>
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Jump-up limit' | translate }}</span>
              </div>
              <input type="number" id="add_jump_limit" class="form-control" name="add_jump_limit"
                [(ngModel)]="add_jump_limit" #add_jump_limitControl="ngModel" required
                [placeholder]="'Jump-up limit' | translate">
              <div class="invalid-feedback" *ngIf="add_jump_limitControl.errors?.required">
                {{ 'Please enter jump-up limit' | translate }}
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-success" data-style="expand-right" [ladda]='submittingJumpLimit'
          (click)="submitEditJumpLimit(formContent)">
          <i>{{ 'Add' | translate }}</i>
        </button>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #template>
  <form class="form-horizontal form-content" #formContent="ngForm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ 'Add time' | translate }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="modal-body">
          <div class="col-md-12 form-item" hidden>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">User ID</span>
              </div>
              <input type="text" id="id_update" class="form-control" name="id_update" [(ngModel)]="id_update"
                #nameControl="ngModel">
            </div>
          </div>
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Extra day' | translate }}</span>
              </div>
              <select class="form-control" name="extra_day" [(ngModel)]="extra_day">
                <option value=30>30 days</option>
                <option value=60>60 days</option>
                <option value=90>90 days</option>
                <option value=120>120 days</option>
                <option value=150>150 days</option>
                <option value=180>180 days</option>
              </select>

            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" data-style="expand-right" [ladda]='submitting'
          (click)="submitAddTime(formContent)">
          <i *ngIf="post_expired_date">{{ 'Add' | translate }}</i>
          <i *ngIf="!post_expired_date">{{ 'Edit' | translate }}</i>
        </button>
        <button style="margin-left: 3px;" *ngIf="post_expired_date" type="submit" class="btn btn-success"
          data-style="expand-right" [ladda]='submitting' (click)="submitEditTime(formContent)">
          <i>{{ 'Edit' | translate }}</i>
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #templateShopPage>
  <div class="modal-header">
    <h4 class="modal-title">{{'Shop List' | translate}}</h4>

    <div class="btn-action float-right">
      <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <button *ngIf="type_shop === 'active'" class="btn btn-info mr-1"
        [disabled]="!itemsTableListShop.selectedRows.length"
        (click)="openModalSubTimeAll(templateSubTimeAll,itemsTableListShop)">
        <i class="fa fa-minus"></i> {{'Remove AD date' | translate}}
      </button>
      <button class="btn btn-info mr-1" [disabled]="!itemsTableListShop.selectedRows.length"
        (click)="openModalAddTimeAll(templateAddTimeAll,itemsTableListShop)">
        <i class="fa fa-plus"></i> {{'Add AD date' | translate}}
      </button>
      <button class="btn btn-danger mr-1" [disabled]="!itemsTableListShop.selectedRows.length"
        (click)="deleteAllShop(itemsTableListShop)">
        <i class="fa fa-trash"></i> {{'Delete' | translate}}
      </button>
    </div>
  </div>

  <div class="modal-body">
    <div class="table-wrapper" id="shop-list">
      <data-table id="data-table-grid" #itemsTableListShop [indexColumnHeader]="'no' | translate"
        [items]="listShop | async" [itemCount]="itemCountListShop" (reload)="reloadListShop($event)" [pagination]="true"
        [selectColumn]="true" [multiSelect]="true" [substituteRows]="false" [selectOnRowClick]="false"
        [showReloading]="false" class="itemsTableListShop" (select)="onSelectShop($event)">
        <data-table-column [header]="'ID' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{(item.user && item.user.username) ? item.user.username : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Nickname' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.user ? item.user.nickname : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Title' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.old_shop ? item.old_shop.title : item.title ? item.title : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Thema' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{ (item.category && item.category.thema) ? item.category.thema.name : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Category' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.category ? item.category.name : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Start date End Date' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{ item.old_shop ? getDateFromUnixTimestamp(item.old_shop.start_date) : (item.start_date > 0)?
              getDateFromUnixTimestamp(item.start_date):"No info" | translate}}<br></span>
            <span>{{ item.old_shop ? getDateFromUnixTimestamp(item.old_shop.expired_date) : (item.expired_date > 0) ?
              getDateFromUnixTimestamp(item.expired_date):"No info" | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Remaining date' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{(mathRemainingTime(item.expired_date) >= 0) ? (ceilRemainingTime(item.expired_date) +
              ("days"|translate)):"Expired" | translate }}</span><br>
            <button style="margin-right: 2px;" (click)="openModalAddTimeShop(templateAddTime, item)"
              class="btn btn-danger">
              <i class="fa fa-plus"></i>
            </button>
            <button *ngIf="mathRemainingTime(item.expired_date) > 0" (click)="openModalSubTime(templateSubTime, item)"
              class="btn btn-primary">
              <i class="fa fa-minus"></i>
            </button>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Geolocation' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.geolocation_api_type?item.geolocation_api_type:'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'List Image' | translate">
          <ng-template #dataTableCell let-item="item">
            <div *ngIf="!item.old_shop">
              <span *ngIf="!item.thumbnails">
                {{'No info' | translate}}
              </span>
              <span *ngFor="let item of item.thumbnails" lazy-load-images style="float: left; margin-left: 2px;">
                <img id="view" height="50px" [attr.data-src]="item"
                  onerror="this.src='https://kormassage.s3.ap-northeast-2.amazonaws.com/resized-image-1600918517975.png'">
              </span>
            </div>
            <div *ngIf="item.old_shop">
              <span *ngIf="!item.old_shop.thumbnails">
                {{'No info' | translate}}
              </span>
              <span *ngFor="let item of item.old_shop.thumbnails" lazy-load-images
                style="float: left; margin-left: 2px;">
                <img id="view" height="50px" [attr.data-src]="item" (click)="openModalZoomImage(templateImage,item)"
                  onerror="this.src='https://kormassage.s3.ap-northeast-2.amazonaws.com/resized-image-1600918517975.png'">
              </span>
            </div>
          </ng-template>
        </data-table-column>
        <!-- <data-table-column [header]="'Comment' | translate">
          <ng-template #dataTableCell let-item="item">
            <span (click)="getListReviewOfConversation(templateComment,item)"
              class="btn btn-primary">{{item.comment}}</span>
            <span (click)="getReview(item.id)" class="btn btn-warning ml-1"><i class="fa fa-comment"
                aria-hidden="true"></i> //boi xanh no di
            </span>
          </ng-template>
        </data-table-column> -->
        <data-table-column [header]="'Status' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.state ? item.state : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Location' | translate">
          <ng-template #dataTableCell let-item="item">
            <button (click)="openModalLocationShop(templateLocationShop, item)" class="btn btn-primary">
              <i class="fa fa-map-marker"></i>
            </button>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Event' | translate">
          <ng-template #dataTableCell let-item="item">
            <button *ngIf="item.events && item.events.length === 0" (click)="openModalEvent(templateEvent, item)"
              class="btn btn-primary" [disabled]="mathRemainingTime(item.expired_date) < 0">
              <i>{{'Add Event' | translate}}</i>
            </button>
            <button *ngIf="item.events && (item.events.length > 0 && item.events[0].state ==='PENDING')"
              (click)="openModalEvent(templateEvent, item)" class="btn btn-primary">
              <i class="fa fa-spinner">Pending</i>
            </button>
            <button *ngIf="item.events && (item.events.length > 0 && item.events[0].state !=='PENDING')"
              (click)="openModalEvent(templateEvent, item)" class="btn btn-danger">
              <i>{{'Edit Event' | translate}}</i>
            </button>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Actions' | translate">
          <ng-template #dataTableCell let-item="item">
            <button *ngIf="!item.old_shop" (click)="editItemShop(item)" class="btn btn-primary"
              style="margin-right: 5px;">
              <i class="fa fa-edit"></i>
            </button>

            <button (click)="deleteShop(item)" class="btn btn-danger" style="margin-right: 5px;">
              <i class="fa fa-trash"></i>
            </button>
            <button *ngIf="item.state !== 'EXPIRED'" (click)="cloneShop(item.id)" class="btn btn-success">
              <i class="fa fa-clone"></i>
            </button>
          </ng-template>
        </data-table-column>
      </data-table>
    </div>
  </div>
</ng-template>
<ng-template #templateAddTime>
  <form class="form-horizontal form-content" #formContent="ngForm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ 'Add advertising date' | translate }}</h4>
      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="card-body">
      <div class="row">
        <div class="modal-body">
          <div class="col-md-12 form-item" hidden>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">shop ID</span>
              </div>
              <input type="text" id="shop_id" class="form-control" name="shop_id" [(ngModel)]="shop_id"
                #nameControl="ngModel">
            </div>
          </div>
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Extra days' | translate }}</span>
              </div>
              <input type="text" id="extra_days" class="form-control" name="extra_days" [(ngModel)]="extra_days"
                #nameControl="ngModel">

            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" data-style="expand-right" [ladda]='submitting'
          (click)="submitAddTimeShop(formContent)">
          <i>{{ 'Add' | translate }}</i>
        </button>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #templateAddTimeAll>
  <form class="form-horizontal form-content" #formContent="ngForm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ 'Add advertising date' | translate }}</h4>
      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="card-body">
      <div class="row">
        <div class="modal-body">
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Extra days' | translate }}</span>
              </div>
              <input type="number" id="days" class="form-control" name="days" [(ngModel)]="days" #nameControl="ngModel">
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" data-style="expand-right" [ladda]='submitting'
          (click)="submitAddTimeAll(formContent)">
          <i>{{ 'Add' | translate }}</i>
        </button>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #templateSubTimeAll>
  <form class="form-horizontal form-content" #formContent="ngForm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ 'Subtract advertising date' | translate }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="modal-body">
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Subtract days' | translate }}</span>
              </div>
              <input type="text" id="number" class="form-control" name="sub_days" [(ngModel)]="sub_days"
                #nameControl="ngModel">
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" data-style="expand-right" [ladda]='submitting'
          (click)="submitSubTimeAll(formContent)">
          <i>{{ 'Subtract' | translate }}</i>
        </button>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #templateSubTime>
  <form class="form-horizontal form-content" #formContent="ngForm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ 'Decrease advertising date' | translate }}</h4>
      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="card-body">
      <div class="row">
        <div class="modal-body">
          <div class="col-md-12 form-item" hidden>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">User ID</span>
              </div>
              <input type="text" id="shop_id" class="form-control" name="shop_id" [(ngModel)]="shop_id"
                #nameControl="ngModel">
            </div>
          </div>
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Days to decrease' | translate }}</span>
              </div>
              <input type="text" id="extra_days" class="form-control" name="extra_days" [(ngModel)]="extra_days"
                #nameControl="ngModel">

            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" data-style="expand-right" [ladda]='submitting'
          (click)="submitSubTime(formContent)">
          <i>{{ 'Decrease' | translate }}</i>
        </button>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #templateLocationShop>
  <!-- <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Location' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body">

    <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(link_map)" width="730" height="450" frameborder="0"
      style="border:0;" allowfullscreen=""></iframe>

  </div>
</ng-template>
<ng-template #templateMemo>
  <form class="form-horizontal form-content" #formContent="ngForm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ 'Memo' | translate }}</h4>
      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="card-body">
      <div class="row">
        <div class="modal-body">
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Group' | translate }}</span>
              </div>
              <input readonly type="text" id="memoItem.group" class="form-control" name="memoItem.group" [value]="arrayGroupToText(memoItem.groups)">
            </div>
          </div>
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Depositor' | translate }}</span>
              </div>
              <input readonly type="text" id="memoItem.depositor" class="form-control" name="memoItem.depositor"
                [(ngModel)]="memoItem.depositor">
            </div>
          </div>
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Contact' | translate }}</span>
              </div>
              <input readonly type="text" id="memoItem.contact" class="form-control" name="memoItem.contact"
                [(ngModel)]="memoItem.contact">
            </div>
          </div>
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Deposit date' | translate }}</span>
              </div>
              <!-- <input readonly type="text" id="memoItem.deposit_date" class="form-control" name="memoItem.deposit_date"
                [value]="getDateFromUnixTimestamp(memoItem.deposit_date)?getDateFromUnixTimestamp(memoItem.deposit_date):''"> -->
              <input readonly type="text" id="memoItem.deposit_date" class="form-control" name="memoItem.deposit_date"
                [(ngModel)]="memoItem.deposit_date">
            </div>
          </div>

          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Deposit amount' | translate }}</span>
              </div>
              <input readonly type="text" id="memoItem.deposit_amount" class="form-control"
                name="memoItem.deposit_amount" [(ngModel)]="memoItem.deposit_amount">
            </div>
          </div>
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Exposure bulletin board' | translate }}</span>
              </div>
              <input readonly type="text" id="memoItem.exposure_bulletin_board" class="form-control"
                name="memoItem.exposure_bulletin_board" [(ngModel)]="memoItem.exposure_bulletin_board">
            </div>
          </div>
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Start date and End date' | translate }}</span>
              </div>
              <input readonly type="text" id="memoItem.start_date" class="form-control" name="memoItem.start_date"
                [(ngModel)]="memoItem.start_date">
              <!-- <input readonly type="text" id="memoItem.start_date" class="form-control" name="memoItem.start_date"
                [value]="(getDateFromUnixTimestamp(memoItem.start_date)?getDateFromUnixTimestamp(memoItem.start_date):'') + (getDateFromUnixTimestamp(memoItem.end_date)?(' -> '+getDateFromUnixTimestamp(memoItem.end_date)):'')"> -->
            </div>
          </div>
          <!-- <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'End date' | translate }}</span>
              </div>
              <input readonly type="text" id="memoItem.end_date" class="form-control" name="memoItem.end_date"
                [value]="getDateFromUnixTimestamp(memoItem.end_date)?getDateFromUnixTimestamp(memoItem.end_date):''">
            </div>
          </div> -->
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Uniqueness' | translate }}</span>
              </div>
              <input readonly type="text" id="memoItem.memo" class="form-control" name="memoItem.memo"
                [(ngModel)]="memoItem.memo">
            </div>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <div class="col-md-2 mr-5" *ngFor="let item of memoItem.attachments">
                <div *ngIf="checkItemIsImage(item)">
                  <div (click)="openModalZoomImage(templateImage,item)" class="image"
                    [style.backgroundImage]="'url('+ item +')'" *ngIf="item && item !== null">
                  </div>
                </div>
                <div *ngIf="!checkItemIsImage(item)">
                  <div class="image" *ngIf="item && item !== null">
                    <a style="font-size: 10px;word-wrap: break-word;" [href]="item">{{getFileName(item)}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #templateEvent>
  <form class="form-horizontal form-content" #formContent="ngForm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ 'Event' | translate }}</h4>
      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="card-body">
      <div class="row">
        <div class="modal-body">
          <div class="col-md-12 form-item" hidden>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Event ID</span>
              </div>
              <input type="text" id="event_id" class="form-control" name="event_id" [(ngModel)]="event_id"
                #event_idControl="ngModel">
            </div>
          </div>
          <div class="col-md-12 form-item" hidden>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Title' | translate }}</span>
              </div>
              <input type="text" id="title_event" class="form-control" name="title_event" [(ngModel)]="title_event"
                #title_eventControl="ngModel" [placeholder]="'Title event' | translate">
              <div class="invalid-feedback" *ngIf="title_eventControl.errors?.required">
                {{ 'Please enter title.' | translate }}
              </div>
            </div>
          </div>
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'Description' | translate }}</span>
              </div>
              <input type="text" id="description" class="form-control" name="description" [(ngModel)]="description"
                #descriptionControl="ngModel"
                [ngClass]="{'is-valid' : !descriptionControl.errors?.required, 'is-invalid' : descriptionControl.errors?.required}"
                required [placeholder]="'Event description' | translate">
              <div class="invalid-feedback" *ngIf="descriptionControl.errors?.required">
                {{ 'Please enter description.' | translate }}
              </div>
            </div>
          </div>
          <div class="col-md-12 form-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'End time' | translate }}</span>
              </div>
              <input #expiration_dateController="ngModel"
                [ngClass]="{'is-valid' : !expiration_dateController.errors?.required, 'is-invalid' : expiration_dateController.errors?.required}"
                required type="text" class="form-control input-control" bsDatepicker placement="bottom"
                [placeholder]="'Please choose end time.' | translate" name="expiration_date_1"
                [(ngModel)]="expiration_date_1" [bsConfig]="{
                  dateInputFormat: 'YYYY-MM-DD'
                }" placement="right" onkeydown="return false" />
              <div class="invalid-feedback"
                *ngIf="expiration_dateController.errors?.required || expiration_dateController.errors?.required">
                {{ 'Please choose start time.' | translate }}
              </div>
            </div>
          </div>
          <div class="card-header" style="position: relative;">
            <i class="fa fa-picture-o"></i> {{ 'Images' | translate }}
            <button class="pull-right btn btn-primary btn-upload-image" (click)="fileImage.click()"
              *ngIf="!loadingUploadImage">
              <i class="fa fa-cloud-upload" aria-hidden="true"></i>
              {{ 'Upload image' | translate }}
            </button>
            <button class="pull-right btn btn-primary btn-upload-image" *ngIf="loadingUploadImage">
              <i class="fa fa-spinner fa-spin"></i>{{ 'Uploading image' | translate }}
            </button>
            <input id="fileImage" type="file" (change)="uploadImage($event)" #fileImage accept="image/*">
          </div>
          <div class="card-body">
            <div class="form-group row">
              <div class="col-md-2" *ngFor="let item of images_event">
                <div class="image" [style.backgroundImage]="'url('+ item +')'" *ngIf="item && item !== null">
                  <span class="remove-avatar" (click)="removeImage(item)"><i class="fa fa-times"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button *ngIf="state !== 'PENDING'" type="submit" class="btn btn-primary" data-style="expand-right"
          [ladda]='submitting' (click)="submitAddEvent(formContent)">
          <i *ngIf="!event_id">{{ 'Add' | translate }}</i>
          <i *ngIf="event_id">{{ 'Update' | translate }}</i>
        </button>
        <button style="margin-left: 2px;" *ngIf="state !== 'PENDING' && event_id" type="submit" class="btn btn-danger"
          data-style="expand-right" [ladda]='submitting' (click)="submitDeleteEvent(formContent)">
          <i *ngIf="event_id">{{ 'Delete' | translate }}</i>
        </button>
        <button style="margin-right: 2px;" *ngIf="state === 'PENDING'" type="submit" class="btn btn-success"
          data-style="expand-right" [ladda]='submitting' (click)="setStateItem(event_id,'APPROVED')">
          <i>{{ 'Approved' | translate }}</i>
        </button>
        <button *ngIf="state === 'PENDING'" type="submit" class="btn btn-danger" data-style="expand-right"
          [ladda]='submitting' (click)="setStateItem(event_id,'REJECTED')">
          <i>{{ 'Rejected' | translate }}</i>
        </button>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #templateImage>
  <div class="modal-body-img">
    <div style="    white-space: nowrap;
                    overflow-x: visible;
                    overflow-y: hidden;
                    height: 100%;;
                    width: 100%;">

      <p lazy-load-images>
        <img [attr.data-src]="zoom_image" (error)="replaceImage($event)"
          onerror="this.src='https://kormassage.s3.ap-northeast-2.amazonaws.com/resized-image-1600918517975.png'">
      </p>
    </div>
  </div>
</ng-template>