<div class="card p-6">
    <form #loginForm="ngForm">
        <!-- <quill-editor id="description" name="description" [(ngModel)]="description">
            </quill-editor> -->
        <div id="description" name="description" [(ngModel)]="description" [froalaEditor]></div>

        <div class="row">
            <div class="col-12" style="display: flex;justify-content: center;align-items: center;margin: 0px !important;">
                <button style="margin: 2px;" type="button" class="btn btn-primary" data-style="expand-right"
                    [ladda]='submitting' (click)="toHtml()">
                    입력하기
                </button>
            </div>
        </div>
    </form>
</div>