<div class="card p-6">
        <form #loginForm="ngForm">
            <quill-editor id="description" name="description" [(ngModel)]="description">
            </quill-editor>
            <div class="row">
                <div class="col-12"
                    style="display: flex;justify-content: center;align-items: center;">
                    <button style="margin: 2px;" type="button" class="btn btn-primary" data-style="expand-right"
                        [ladda]='submitting' (click)="toHtml()">
                        입력하기
                    </button>
                </div>
            </div>
        </form>
</div>