<div class="animated fadeIn">
  <form class="form-content" #formContent="ngForm">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <strong><i class="fa fa-info"></i> {{'Information' | translate}}</strong>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="group">{{'Group' | translate}}</label>
              <!-- <select class="form-control" name="group" id="group" [(ngModel)]="group">
                <option value="1번">{{'1번' | translate}}</option>
                <option value="2번">{{'2번' | translate}}</option>
                <option value="3번">{{'3번' | translate}}</option>
                <option value="4번">{{'4번' | translate}}</option>
                <option value="5번">{{'5번' | translate}}</option>
                <option value="6번">{{'6번' | translate}}</option>
                <option value="7번">{{'7번' | translate}}</option>
                <option value="8번">{{'8번' | translate}}</option>
                <option value="9번">{{'9번' | translate}}</option>
                <option value="10번">{{'10번' | translate}}</option>
              </select> -->
              <form [formGroup]="form_group" *ngIf="form_group" (ngSubmit)="save()" (reset)="resetForm()">

                <ng-multiselect-dropdown #multiSelect [placeholder]="'Group' | translate" [data]="group_list"
                  [(ngModel)]="groups_select" [settings]="settings" [formControl]="f.name" [disabled]="false"
                  (onFilterChange)="onSave($event)" (onSelect)="onSave($event)" (onDeSelect)="onSave($event)"
                  (onSelectAll)="onSave($event)" (onDeSelectAll)="onSave($event)">
                </ng-multiselect-dropdown>
              </form>
            </div>
            <div class="form-group" *ngIf="!isEdit">
              <label for="role">{{'Account type' | translate}}</label>
              <select class="form-control" name="account_type" id="account_type" [(ngModel)]="account_type" required
                #account_typeControl="ngModel" [ngClass]="{'is-invalid' : account_typeControl.errors?.required}">
                <option [ngValue]="null" *ngIf="account_type !== 'BIZ_USER'">{{'Choose account type' | translate}}
                </option>
                <option value="BIZ_USER">{{'Biz User' | translate}}</option>
                <option value="FREE_USER">{{'Free User' | translate}}
                </option>
              </select>
              <div class="invalid-feedback" *ngIf="account_typeControl.value == null">
                {{'Please choose Account type' | translate}}
              </div>
            </div>
            <div class="form-group" *ngIf="isEdit">
              <label for="role">{{'Account type' | translate}}</label>
              <select class="form-control" name="account_type" id="account_type" [(ngModel)]="account_type" required
                #account_typeControl="ngModel" [ngClass]="{'is-invalid' : account_typeControl.errors?.required}">
                <option [ngValue]="null" *ngIf="account_type !== 'BIZ_USER'">{{'Choose account type' | translate}}
                </option>
                <option value="BIZ_USER" *ngIf="account_type === 'BIZ_USER'">{{'Biz User' | translate}}</option>
                <option value="FREE_USER" *ngIf="account_type !== 'BIZ_USER'">{{'Free User' | translate}}
                </option>
                <option value="PAID_USER" *ngIf="account_type !== 'BIZ_USER'">{{'Paid User' | translate}}
                </option>
              </select>
              <div class="invalid-feedback" *ngIf="account_typeControl.value == null">
                {{'Please choose Account type' | translate}}
              </div>
            </div>
            <!-- <div class="form-group" *ngIf="!isEdit">
              <label for="fullname">{{'Fullname' | translate}}</label>
              <input class="form-control" id="fullname" [placeholder]="'enter fullname' | translate" type="text"
                name="fullname" [(ngModel)]="fullname" required #fullnameController="ngModel"
                [ngClass]="{'is-invalid' : fullnameController.errors?.required}">
              <div class="invalid-feedback" *ngIf="fullnameControllererrors?.required">
                {{'Please enter fullname.' | translate}}
              </div>
            </div> -->
            <div class="form-group">
              <label for="username">{{'ID' | translate}}</label>
              <input class="form-control" id="username" [placeholder]="'enter email' | translate" type="text"
                name="username" [(ngModel)]="username" required #usernameControl="ngModel"
                [ngClass]="{'is-invalid' : usernameControl.errors?.required}" [disabled]="isEdit">
              <div class="invalid-feedback" *ngIf="usernameControl.errors?.required">
                {{'Please enter email.' | translate}}
              </div>
            </div>
            <div class="form-group">
              <div *ngIf="!isEdit">
                <label for="password_show">{{'Password' | translate}}</label>
                <input class="form-control" id="password_show" [placeholder]="'enter password' | translate"
                  type="password" name="password_show" [(ngModel)]="password_show" required
                  #password_showControl="ngModel" [ngClass]="{'is-invalid' : password_showControl.errors?.required}">
                <div class="invalid-feedback" *ngIf="password_showControl.errors?.required">
                  {{'Please enter password' | translate}}
                </div>
              </div>
              <div *ngIf="isEditInAppUser">
                <span *ngIf="!editPass" class="btn btn-primary" (click)="changeStateEditPass()">{{'Edit password' |
                  translate}} </span>
                <label *ngIf="editPass" for="password_show">{{'Password' | translate}}</label>
                <div *ngIf="editPass">
                  <input class="form-control" id="password_show" [placeholder]="'enter password' | translate"
                    type="password" name="password_show" [(ngModel)]="password_show" required
                    #password_showControl="ngModel" [ngClass]="{'is-invalid' : password_showControl.errors?.required}">
                  <div class="invalid-feedback" *ngIf="password_showControl.errors?.required">
                    {{'Please enter password' | translate}}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="!isEdit">
              <label for="email">{{'Nickname' | translate}}</label>
              <input class="form-control" id="nickname" [placeholder]="'enter nickname' | translate" type="nickname"
                name="nickname" [(ngModel)]="nickname" required #nicknameControl="ngModel"
                [ngClass]="{'is-invalid' : nicknameControl.errors?.required}">
              <div class="invalid-feedback" *ngIf="nicknameControl.errors?.required">
                {{'Please enter nickname.' | translate}}
              </div>
            </div>
            <!-- <div class="form-group" *ngIf="!isEdit">
              <label for="email">{{'Email' | translate}}</label>
              <input class="form-control" id="email" [placeholder]="'enter email' | translate" type="email" name="email"
                [(ngModel)]="email" required #emailControl="ngModel"
                [ngClass]="{'is-invalid' : emailControl.errors?.required}">
              <div class="invalid-feedback" *ngIf="emailControl.errors?.required">
                {{'Please enter email.' | translate}}
              </div>
            </div> -->
            <div class="form-group" *ngIf="!isEdit && account_type === 'BIZ_USER'">
              <label for="phone">{{'Phone' | translate}}</label>
              <input class="form-control" id="phone" [placeholder]="'enter phone' | translate" type="text" name="phone"
                [(ngModel)]="phone" required #phoneControl="ngModel"
                [ngClass]="{'is-invalid' : phoneControl.errors?.required}">
              <div class="invalid-feedback" *ngIf="phoneControl.errors?.required">
                {{'Please enter phone.' | translate}}
              </div>
            </div>


            <div class="form-group" *ngIf="account_type === 'BIZ_USER'">
              <label for="post_limit">{{'Post limit' | translate}}</label>
              <input class="form-control" id="post_limit" type="number" [min]="post_limit_min" name="post_limit"
                [(ngModel)]="post_limit" required #post_limitControl="ngModel"
                [ngClass]="{'is-invalid' : post_limitControl.errors?.required}" (change)="setPostLimitMin($event);">
              <div class="invalid-feedback" *ngIf="post_limitControl.errors?.required">
                {{'Please enter price.' | translate}}
              </div>
            </div>
            <div class="form-group" *ngIf="account_type === 'PAID_USER'">
              <label for="paid_user_expiration_date">{{'Expiration date of Paid user' | translate}}</label>
              <input #expiration_dateController="ngModel"
                [ngClass]="{'is-valid' : !expiration_dateController.errors?.required, 'is-invalid' : expiration_dateController.errors?.required}"
                required type="text" class="form-control input-control" bsDatepicker placement="bottom"
                [placeholder]="'Please choose expiration date.' | translate" name="paid_user_expiration_date"
                [(ngModel)]="paid_user_expiration_date" [bsConfig]="{
                dateInputFormat: 'YYYY-MM-DD'
              }" placement="right" onkeydown="return false" />
              <div class="invalid-feedback"
                *ngIf="expiration_dateController.errors?.required || expiration_dateController.errors?.required">
                {{ 'Please choose expiration date.' | translate }}
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="memo">{{'Memo' | translate}}</label>
              <input class="form-control" id="memo" type="text" name="memo" [(ngModel)]="memo">
            </div> -->
            
            <div class="form-group">
              <label for="depositor">{{'Depositor' | translate}}</label>
              <input class="form-control" id="depositor" type="text" name="depositor" [(ngModel)]="depositor">
            </div>
            <div class="form-group">
              <label for="contact">{{'Contact' | translate}}</label>
              <input class="form-control" id="contact" type="text" name="contact" [(ngModel)]="contact">
            </div>
            <div class="form-group">
              <label for="deposit_date">{{'Deposit date' | translate}}</label>
              <!-- <input type="text" class="form-control input-control" bsDatepicker placement="bottom"
                [placeholder]="'Please choose expiration date.' | translate" name="deposit_date"
                [(ngModel)]="deposit_date" [bsConfig]="{
                dateInputFormat: 'YYYY-MM-DD'
              }" placement="right" onkeydown="return false" /> -->
              <input class="form-control" id="deposit_date" type="text" name="deposit_date" [(ngModel)]="deposit_date">

            </div>
            <div class="form-group">
              <label for="deposit_amount">{{'Deposit amount' | translate}}</label>
              <input class="form-control" id="deposit_amount" type="text" name="deposit_amount" [(ngModel)]="deposit_amount">

            </div>
            <div class="form-group">
              <label for="exposure_bulletin_board">{{'Exposure bulletin board' | translate}}</label>
              <input class="form-control" id="exposure_bulletin_board" type="text" name="exposure_bulletin_board"
                [(ngModel)]="exposure_bulletin_board">
            </div>
            <div class="form-group">
              <label for="end_date">{{'Start date and End date' | translate}}</label>
              <input class="form-control" id="start_date" type="text" name="start_date"
                [(ngModel)]="start_date">
            </div>
            <!-- <div class="form-group">
              <label for="end_date">{{'End date' | translate}}</label>
              <input type="text" class="form-control input-control" bsDatepicker placement="bottom"
                [placeholder]="'Please choose expiration date.' | translate" name="end_date" [(ngModel)]="end_date"
                [bsConfig]="{
              dateInputFormat: 'YYYY-MM-DD'
            }" placement="right" onkeydown="return false" />
            </div> -->
            <div class="form-group">
              <label for="memo">{{'Uniqueness' | translate}}</label>
              <input class="form-control" id="memo" type="text" name="memo" [(ngModel)]="memo">
            </div>
            <!-- <div class="form-group">
              <label for="memo">{{'Pick winners' | translate}}</label>
              <select class="form-control" name="event_type" id="event_type" [(ngModel)]="event_type" required
                #event_typeControl="ngModel" [ngClass]="{'is-invalid' : event_typeControl.errors?.required}">
                <option value="B">{{'B' | translate}}</option>
                <option value="C">{{'C' | translate}}</option>
              </select>
            </div> -->
            <div class="input-group" *ngIf="account_type === 'BIZ_USER'">

              <label for="role">{{'Show Badge' | translate}}</label>
              <div class="form-check form-check-inline mr-1 ml-3">
                <input class="form-check-input" id="inline-radio1" type="radio" [value]="true" name="show_shop_tag"
                  [(ngModel)]="show_shop_tag" [checked]="show_shop_tag">
                <label class="form-check-label" for="inline-radio1">{{ 'Yes' | translate }}</label>
              </div>
              <div class="form-check form-check-inline mr-1 ml-3">
                <input class="form-check-input" id="inline-radio2" type="radio" [value]="false" name="show_shop_tag"
                  [(ngModel)]="show_shop_tag" [checked]="!show_shop_tag">
                <label class="form-check-label" for="inline-radio2">{{ 'No' | translate }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <strong><i class="fa fa-picture-o"></i> {{'Attachments' | translate}}</strong>
            <button class="pull-right btn btn-primary btn-upload-avatar" (click)="fileAttachments.click()"
              *ngIf="!loadingUploadAvatar && attachments.length < 5"><i class="fa fa-cloud-upload"
                aria-hidden="true"></i>
              {{'Upload' | translate}}</button>
            <button class="pull-right btn btn-primary btn-upload-avatar" *ngIf="loadingUploadAvatar"><i
                class="fa fa-spinner fa-spin"></i> {{'Uploading' | translate}}</button>
            <input id="fileAttachments" type="file" (change)="uploadFile($event)" #fileAttachments>
          </div>
          <div class="card-body">
            <div *ngFor="let item of attachments">
              <div *ngIf="checkItemIsImage(item)">
                <div class="avatar" [style.backgroundImage]="'url('+ item +')'" *ngIf="item && item !== null">
                  <span class="remove-avatar" (click)="removeFile(item)"><i class="fa fa-times"></i></span>
                </div>
              </div>
              <div *ngIf="!checkItemIsImage(item)">
                <div class="avatar" *ngIf="item && item !== null">
                  <a [href]="item">{{getFileName(item)}}</a>
                  <span class="remove-avatar" (click)="removeFile(item)"><i class="fa fa-times"></i></span>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-6" *ngIf="!isEdit">
        <div class="card">
          <div class="card-header">
            <strong><i class="fa fa-picture-o"></i> {{'Avatar' | translate}}</strong>
            <button class="pull-right btn btn-primary btn-upload-avatar" (click)="fileAvatar.click()"
              *ngIf="!loadingUploadAvatar"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
              {{'Upload avatar' | translate}}</button>
            <button class="pull-right btn btn-primary btn-upload-avatar" *ngIf="loadingUploadAvatar"><i
                class="fa fa-spinner fa-spin"></i> {{'Uploading avatar' | translate}}</button>
            <input id="fileAvatar" type="file" (change)="uploadAvatar($event)" #fileAvatar accept="image/*">
          </div>
          <div class="card-body">
            <div class="avatar" [style.backgroundImage]="'url('+ avatar +')'" *ngIf="avatar && avatar !== null">
              <span class="remove-avatar" (click)="removeAvatar()"><i class="fa fa-times"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-footer">
            <button class="btn btn-success" *ngIf="!isEdit" data-style="expand-right" [ladda]='submitting'
              (click)="submitAdd(formContent)">
              <i class="fa fa-plus"></i> {{'Submit' | translate}}
            </button>
            <button class="btn btn-success" *ngIf="isEdit" data-style="expand-right" [ladda]='submitting'
              (click)="submitUpdate(formContent)">
              <i class="fa fa-save"></i> {{'Edit' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>