<div class="animated fadeIn">
  <form class="form-content" #formContent="ngForm">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <strong><i class="fa fa-info"></i> {{'Information' | translate}}</strong>
          </div>
          <div class="card-body">
            <div class="form-group" *ngIf="!isEdit">
              <label for="fullname">{{'Fullname' | translate}}</label>
              <input class="form-control" id="fullname" [placeholder]="'enter fullname' | translate" type="text"
                name="fullname" [(ngModel)]="fullname" required #fullnameController="ngModel"
                [ngClass]="{'is-invalid' : fullnameController.errors?.required}">
              <div class="invalid-feedback" *ngIf="fullnameControllererrors?.required">
                {{'Please enter fullname.' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="username">{{'Username' | translate}}</label>
              <input class="form-control" id="username" [placeholder]="'enter username' | translate" type="text"
                name="username" [(ngModel)]="username" required #usernameControl="ngModel"
                [ngClass]="{'is-invalid' : usernameControl.errors?.required}" [disabled]="isEdit">
              <div class="invalid-feedback" *ngIf="usernameControl.errors?.required">
                {{'Please enter username.' | translate}}
              </div>
            </div>
            <div class="form-group">
              <div *ngIf="!isEdit">
                <label for="password_show">{{'Password' | translate}}</label>
                <input class="form-control" id="password_show" [placeholder]="'enter password' | translate"
                  type="password" name="password_show" [(ngModel)]="password_show" required
                  #password_showControl="ngModel" [ngClass]="{'is-invalid' : password_showControl.errors?.required}">
                <div class="invalid-feedback" *ngIf="password_showControl.errors?.required">
                  {{'Please enter password' | translate}}
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="!isEdit">
              <label for="email">{{'Nickname' | translate}}</label>
              <input class="form-control" id="nickname" [placeholder]="'enter nickname' | translate" type="nickname"
                name="nickname" [(ngModel)]="nickname" required #nicknameControl="ngModel"
                [ngClass]="{'is-invalid' : nicknameControl.errors?.required}">
              <div class="invalid-feedback" *ngIf="nicknameControl.errors?.required">
                {{'Please enter nickname.' | translate}}
              </div>
            </div>
            <div class="form-group" *ngIf="!isEdit">
              <label for="email">{{'Email' | translate}}</label>
              <input class="form-control" id="email" [placeholder]="'enter email' | translate" type="email"
                name="email" [(ngModel)]="email" required #emailControl="ngModel"
                [ngClass]="{'is-invalid' : emailControl.errors?.required}">
              <div class="invalid-feedback" *ngIf="emailControl.errors?.required">
                {{'Please enter email.' | translate}}
              </div>
            </div>
            <div class="form-group" *ngIf="!isEdit">
              <label for="phone">{{'Phone' | translate}}</label>
              <input class="form-control" id="phone" [placeholder]="'enter phone' | translate" type="text" name="phone"
                [(ngModel)]="phone" required #phoneControl="ngModel"
                [ngClass]="{'is-invalid' : phoneControl.errors?.required}">
              <div class="invalid-feedback" *ngIf="phoneControl.errors?.required">
                {{'Please enter phone.' | translate}}
              </div>
            </div>
            <div class="form-group" *ngIf="!isEdit">
              <label for="role">{{'Account type' | translate}}</label>
              <select class="form-control" name="account_type" id="account_type" [(ngModel)]="account_type" required
                #account_typeControl="ngModel" [ngClass]="{'is-invalid' : account_typeControl.errors?.required}">
                <option [ngValue]="null" *ngIf="account_type !== 'BIZ_USER'">{{'Choose account type' | translate}}
                </option>
                <option value="BIZ_USER">{{'Biz User' | translate}}</option>
                <option value="FREE_USER" >{{'Free User' | translate}}
                </option>
              </select>
              <div class="invalid-feedback" *ngIf="account_typeControl.value == null">
                {{'Please enter Account type' | translate}}
              </div>
            </div>
            <div class="form-group"  *ngIf="isEdit">
              <label for="role">{{'Account type' | translate}}</label>
              <select class="form-control" name="account_type" id="account_type" [(ngModel)]="account_type" required
                #account_typeControl="ngModel" [ngClass]="{'is-invalid' : account_typeControl.errors?.required}">
                <option [ngValue]="null" *ngIf="account_type !== 'BIZ_USER'">{{'Choose account type' | translate}}
                </option>
                <option value="BIZ_USER" *ngIf="account_type === 'BIZ_USER'">{{'Biz User' | translate}}</option>
                <option value="FREE_USER" *ngIf="account_type !== 'BIZ_USER'">{{'Free User' | translate}}
                </option>
                <option value="PAID_USER" *ngIf="account_type !== 'BIZ_USER'">{{'Paid User' | translate}}
                </option>
              </select>
              <div class="invalid-feedback" *ngIf="account_typeControl.value == null">
                {{'Please enter Account type' | translate}}
              </div>
            </div>

            <div class="form-group" *ngIf="account_type === 'BIZ_USER'">
              <label for="post_limit">{{'Post limit' | translate}}</label>
              <input class="form-control" id="post_limit" type="number" [min]="post_limit_min" name="post_limit"
                [(ngModel)]="post_limit" required #post_limitControl="ngModel"
                [ngClass]="{'is-invalid' : post_limitControl.errors?.required}" (change)="setPostLimitMin($event);">
              <div class="invalid-feedback" *ngIf="post_limitControl.errors?.required">
                {{'Please enter price.' | translate}}
              </div>
            </div>
            <div class="form-group" *ngIf="account_type === 'PAID_USER'">
              <label for="paid_user_expiration_date">{{'Expiration date of Paid user' | translate}}</label>
              <input #expiration_dateController="ngModel"
                [ngClass]="{'is-valid' : !expiration_dateController.errors?.required, 'is-invalid' : expiration_dateController.errors?.required}"
                required type="text" class="form-control input-control" bsDatepicker placement="bottom"
                [placeholder]="'Please choose expiration date.' | translate" name="paid_user_expiration_date"
                [(ngModel)]="paid_user_expiration_date" [bsConfig]="{
                dateInputFormat: 'YYYY-MM-DD'
              }" placement="right" onkeydown="return false" />
              <div class="invalid-feedback"
                *ngIf="expiration_dateController.errors?.required || expiration_dateController.errors?.required">
                {{ 'Please choose expiration date.' | translate }}
              </div>
            </div>
            <div class="form-group">
              <label for="memo">{{'Memo' | translate}}</label>
              <input class="form-control" id="memo" type="text" name="memo" [(ngModel)]="memo">
            </div>
            <div class="input-group" *ngIf="account_type === 'BIZ_USER'">

              <label for="role">{{'Show shop tag' | translate}}</label>
              <div class="form-check form-check-inline mr-1 ml-3">
                <input class="form-check-input" id="inline-radio1" type="radio" [value]="true" name="show_shop_tag"
                  [(ngModel)]="show_shop_tag" [checked]="show_shop_tag">
                <label class="form-check-label" for="inline-radio1">{{ 'Yes' | translate }}</label>
              </div>
              <div class="form-check form-check-inline mr-1 ml-3">
                <input class="form-check-input" id="inline-radio2" type="radio" [value]="false" name="show_shop_tag"
                  [(ngModel)]="show_shop_tag" [checked]="!show_shop_tag">
                <label class="form-check-label" for="inline-radio2">{{ 'No' | translate }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6" *ngIf="!isEdit">
        <div class="card">
          <div class="card-header">
            <strong><i class="fa fa-picture-o"></i> {{'Avatar' | translate}}</strong>
            <button class="pull-right btn btn-primary btn-upload-avatar" (click)="fileAvatar.click()"
              *ngIf="!loadingUploadAvatar"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
              {{'Upload avatar' | translate}}</button>
            <button class="pull-right btn btn-primary btn-upload-avatar" *ngIf="loadingUploadAvatar"><i
                class="fa fa-spinner fa-spin"></i> {{'Uploading avatar' | translate}}</button>
            <input id="fileAvatar" type="file" (change)="uploadAvatar($event)" #fileAvatar accept="image/*">
          </div>
          <div class="card-body">
            <div class="avatar" [style.backgroundImage]="'url('+ avatar +')'" *ngIf="avatar && avatar !== null">
              <span class="remove-avatar" (click)="removeAvatar()"><i class="fa fa-times"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-footer">
            <button class="btn btn-success" *ngIf="!isEdit" data-style="expand-right" [ladda]='submitting'
              (click)="submitAdd(formContent)">
              <i class="fa fa-plus"></i> {{'Submit' | translate}}
            </button>
            <button class="btn btn-success" *ngIf="isEdit" data-style="expand-right" [ladda]='submitting'
              (click)="submitUpdate(formContent)">
              <i class="fa fa-save"></i> {{'Edit' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>