<div class="animated fadeIn">
  <form class="form-content" #formContent="ngForm">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <strong><i class="fa fa-info"></i> {{'Information' | translate}}</strong>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="username">{{'Username' | translate}}</label>
              <input class="form-control" id="username" [placeholder]="'enter username' | translate" type="text"
                name="username" [(ngModel)]="username" required #usernameControl="ngModel"
                [ngClass]="{'is-invalid' : usernameControl.errors?.required}" [disabled]="isEdit">
              <div class="invalid-feedback" *ngIf="usernameControl.errors?.required">
                {{'Please enter username.' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="role">{{'Account type' | translate}}</label>
              <select class="form-control" name="account_type" id="account_type" [(ngModel)]="account_type" required
                #account_typeControl="ngModel" [ngClass]="{'is-invalid' : account_typeControl.errors?.required}">
                <option [ngValue]="null">{{'Choose account type' | translate}}</option>
                <option value="BIZ_USER">{{'Biz User' | translate}}</option>
                <option value="FREE_USER">{{'Free User' | translate}}</option>
                <option value="PAID_USER">{{'Paid User' | translate}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="account_typeControl.value == null">
                {{'Please enter Account type' | translate}}
              </div>
            </div>
            <div class="form-group">
              <label for="post_limit">{{'Post limit' | translate}}</label>
              <input class="form-control" id="post_limit" type="number" [min]="post_limit_min" name="post_limit"
                [(ngModel)]="post_limit" required #post_limitControl="ngModel"
                [ngClass]="{'is-invalid' : post_limitControl.errors?.required}"
                (change)="setPostLimitMin($event);">
              <div class="invalid-feedback" *ngIf="post_limitControl.errors?.required">
                {{'Please enter price.' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-6">
        <div class="card">
          <div class="card-header">
            <strong><i class="fa fa-picture-o"></i> {{'Avatar' | translate}}</strong>
            <button class="pull-right btn btn-primary btn-upload-avatar" (click)="fileAvatar.click()"
              *ngIf="!loadingUploadAvatar"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
              {{'Upload avatar' | translate}}</button>
            <button class="pull-right btn btn-primary btn-upload-avatar" *ngIf="loadingUploadAvatar"><i
                class="fa fa-spinner fa-spin"></i> {{'Uploading avatar' | translate}}</button>
            <input id="fileAvatar" type="file" (change)="uploadAvatar($event)" #fileAvatar accept="image/*">
          </div>
          <div class="card-body">
            <div class="avatar" [style.backgroundImage]="'url('+ avatar +')'" *ngIf="avatar && avatar !== null">
              <span class="remove-avatar" (click)="removeAvatar()"><i class="fa fa-times"></i></span>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-12">
        <div class="card">
          <div class="card-footer">
            <button class="btn btn-success" *ngIf="!isEdit" data-style="expand-right" [ladda]='submitting'
              (click)="submitAdd(formContent)">
              <i class="fa fa-plus"></i> {{'Submit' | translate}}
            </button>
            <button class="btn btn-success" *ngIf="isEdit" data-style="expand-right" [ladda]='submitting'
              (click)="submitUpdate(formContent)">
              <i class="fa fa-save"></i> {{'Edit' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>