<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-search"></i> {{'Search' | translate}}
      <div class="btn-action float-right">
        <!-- <button class="btn btn-primary" (click)="exportAsXLSX()">
          <i class="fa fa-cloud-download"></i> {{'Export excel' | translate}}
        </button> -->
      </div>
    </div>
    <div class="card-body">
      <div class="row apps">
        <div class="col-12 search form-group">
          <div class="row">
            <!-- <div class="col-2">
              <select class="form-control" name="sex" [(ngModel)]="sex">
                <option [ngValue]="null">{{'Choose gender' | translate}}</option>
                <option value="MALE">{{'Male' | translate}}</option>
                <option value="FEMALE">{{'Female' | translate}}</option>
              </select>
            </div> -->
            <div class="col-2">
              <input type="text" class="form-control" [placeholder]="'Enter keyword' | translate" name="keyword"
                [(ngModel)]="keyword">
            </div>
            <div class="col-3">
              <button class="btn btn-primary" (click)="search()" data-style="expand-left" [ladda]='submitting'><i
                  class="fa fa-search"></i> {{'Search' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-list"></i> {{'Inquiry list' | translate}}
    </div>
    <div class="card-body scroll-table" id="inquiry-list">
      <data-table id="data-table-grid" #itemsTable [indexColumnHeader]="'no' | translate" [items]="items | async"
        [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true" [indexColumn]="true"
        [selectColumn]="false" [multiSelect]="false" [substituteRows]="false" [selectOnRowClick]="false"
        [showReloading]="false">
        <!-- <data-table-column [header]="'ID code' | translate">
          <ng-template #dataTableCell let-item="item">
            <span ngxClipboard [cbContent]="item.id" (cbOnSuccess)="alertCopied(item.id)">{{item.id}}</span>
          </ng-template>
        </data-table-column> -->
        <data-table-column [header]="'Content' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.content ? item.content : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'User' | translate">
          <ng-template #dataTableCell let-item="item">
            <span *ngIf="item.user">{{item.user.nickname}}</span>
            <span *ngIf="!item.user" style="color:red">{{'Non-member' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Phone' | translate">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.contact_phone ? item.contact_phone : 'No info' | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Created date' | translate">
          <ng-template #dataTableCell let-item="item">
            {{item.created_at | date :"yyyy/MM/dd":'+2'}}<br>
            {{item.created_at | date :"HH:mm":'+2'}}
          </ng-template>
        </data-table-column>
        <data-table-column [header]="'Actions' | translate">
          <ng-template #dataTableCell let-item="item">
            <!-- <button (click)="editItem(item)" class="btn btn-primary" style="margin-right: 5px;">
              <i class="fa fa-edit"></i>
            </button> -->
            <button (click)="deleteItem(item)" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </ng-template>
        </data-table-column>
      </data-table>
    </div>
  </div>
</div>